* {
     box-sizing: border-box;
}

body {
    background-color: #f9f2df;
    font-family: "Google Sans", sans-serif;
}

.wrapper {
    display: flex;
    margin: 10px;
}

.col-1 {
    background-color: #cccdbb;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.title {
    color:#ff6e40;
}

.photo {
    max-width: 200px;
    max-height: 300px;
    border-radius: 5px;
}

.educ_univer {
    font-weight: bold;
}

.exp_title {
    font-weight: bold;
}

.job {
    font-size: 25px;
}